﻿@page
@model ProjectPRN.Pages.Account.LoginModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/css/Style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
          rel="stylesheet" />
</head>
<body>
    <div class="login-box" style="height: 500px;">
        <h1>Login</h1>
        <form method="post">
            <label>Email</label>
            <span style="color:red;" asp-validation-for="Name"></span>
            <input type="email" id="name" asp-for="Name" placeholder="" />
            <label>Password</label>
            <span style="color:red;" asp-validation-for="Pass"></span>
            <input id="pass" type="password" asp-for="Pass" placeholder="" />
            <span style="color:red;" id="span"></span>
            <input type="submit"  value="Login" id="but" style="margin-top: 20px;" />
            <closeform></closeform>
        </form>
    </div>
    <p class="para-2">
        Not have an account? <a href="/Account/signup">Sign Up Here</a>
    </p>
    <script>
        var c = document.getElementById("but");
        var a = document.getElementById("span");
        var d = 0;
        c.addEventListener("mouseenter", function () {
            if (document.getElementById("name").value.trim() == "" || document.getElementById("pass").value.trim() == "") {
                a.innerHTML = "nhập thông tin username và password";
                if(d == 1){
                    c.style.marginTop = "20px";
                    d = 0;
                }else{
                    c.style.marginTop = "70px";
                    d = 1;
                }
               
            }else{
                a.innerHTML = "";
                c.style.marginTop = "20px";
                d = 0;
            }
        });
    </script>
</body>
</html>
