﻿@page
@model ProjectPRN.Pages.Account.SignupModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="~/css/Style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <style>

        .signup-box h1 {
            margin-top: 0;
        }

        .signup-box h4 {
            margin-top: 5px;
        }

        .signup-box form {
            margin-top: 10px;
        }

            .signup-box form label {
                display: flex;
                margin-top: 20px;
                font-size: 18px;
                justify-content: left;
            }

            .signup-box form input {
                width: 100%;
                padding: 7px;
                border: none;
                border: 1px solid gray;
                border-radius: 6px;
                outline: none;
            }

                .signup-box form input[type="submit"] {
                    margin-top: 30px;
                    background-color: #49c1a2;
                    color: white;
                    font-size: 18px;
                    cursor: pointer;
                }

        .para-2 {
            margin-top: 10px;
            text-align: center;
            color: white;
            font-size: 15px;
            margin-top: 10px;
        }

            .para-2 a {
                color: #49c1a2;
            }
    </style>
</head>
<body>
    <div class="signup-box">
        <h1>Sign Up</h1>
        <h4>It's free and only takes a minute</h4>
        <form method="post">
            <label>First Name</label><span style="color:red;" asp-validation-for="FName"></span>
            <input type="text" asp-for="FName" placeholder="" />

            <label>Last Name</label><span style="color:red;" asp-validation-for="LName"></span>
            <input type="text" asp-for="LName" placeholder="" />

            <label>Email</label><span style="color:red;" asp-validation-for="Email"></span>
            <input type="email" asp-for="Email" placeholder="" />

            <label>Password</label><span style="color:red;" asp-validation-for="Pass"></span>
            <input type="password" asp-for="Pass" placeholder="" />

            <label>Confirm Password</label><span style="color:red;" asp-validation-for="PassConfirm"></span>
            <input type="password" asp-for="PassConfirm" placeholder="" />

            <input type="submit" value="Submit" />
        </form>
    </div>
    <p class="para-2">
        Already have an account? <a href="login.html">Login here</a>
    </p>
</body>
</html>