﻿@page
@model ProjectPRN.Pages.Homepage.IndexModel
@{
}
@functions {
	public string GetImageSource(byte[] imageBytes)
	{
		string base64String = Convert.ToBase64String(imageBytes);
		return $"data:image/png;base64,{base64String}";
	}
}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home 01</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="~/frontend/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/frontend/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/frontend/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/frontend/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/frontend/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="~/frontend/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/frontend/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/frontend/css/util.min.css">
<!--===============================================================================================-->	
	
	<link rel="stylesheet" type="text/css" href="~/frontend/css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">


	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="topbar">
				<div class="content-topbar container h-100">
					<div class="left-topbar">
						<span class="left-topbar-item flex-wr-s-c">
							<span>
								Ha N
							</span>

							<img class="m-b-1 m-rl-8" src="~/frontend/images/icons/icon-night.png" alt="IMG">

							<span>
							</span>
						</span>

						<a href="#" class="left-topbar-item">
							About
						</a>

						<a href="#" class="left-topbar-item">
							Contact
						</a>

							@if(ViewData["user"] != null)
							{

								<a href="/Account/Logout" class="left-topbar-item">
									Log out
							</a>
						}else
						{
							<a href="/Account/Signup" class="left-topbar-item">
								Sign up
							</a>
							<a href="/Account/Login" class="left-topbar-item">
									Log in
							</a>
						}
						@if(ViewData["role"] != null && ViewData["role"].ToString().Equals("admin"))
						{
							<a href="/Admin/DashBoard/dashboard" class="left-topbar-item">
								Dash Board
							</a>
						}else if(ViewData["role"] != null && ViewData["role"].ToString().Equals("writer")){
							<a href="/Writer/List" class="left-topbar-item">
								Management Articles
							</a>
						}

					</div>

					<div class="right-topbar">
						<a href="#">
							<span class="fab fa-facebook-f"></span>
						</a>

						<a href="#">
							<span class="fab fa-twitter"></span>
						</a>

						<a href="#">
							<span class="fab fa-pinterest-p"></span>
						</a>

						<a href="#">
							<span class="fab fa-vimeo-v"></span>
						</a>

						<a href="#">
							<span class="fab fa-youtube"></span>
						</a>
					</div>
				</div>
			</div>

			<!-- Header Mobile -->
			<div class="wrap-header-mobile">
				<!-- Logo moblie -->		
				<div class="logo-mobile">
					<a asp-page="Index"><img src="~/frontend/images/icons/logo-01.png" alt="IMG-LOGO"></a>
				</div>

				<!-- Button show menu -->
				<div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>

			<!-- Menu Mobile -->
			<div class="menu-mobile">
				<ul class="topbar-mobile">
					<li class="left-topbar">
						<span class="left-topbar-item flex-wr-s-c">
							<span>
								New York, NY
							</span>

							<img class="m-b-1 m-rl-8" src="~/frontend/images/icons/icon-night.png" alt="IMG">

							<span>
								HI 58° LO 56°
							</span>
						</span>
					</li>

					<li class="left-topbar">
						<a href="#" class="left-topbar-item">
							About
						</a>

						<a href="#" class="left-topbar-item">
							Contact
						</a>

						<a href="#" class="left-topbar-item">
							Sing up
						</a>

						<a href="#" class="left-topbar-item">
							Log in
						</a>
					</li>

					<li class="right-topbar">
						<a href="#">
							<span class="fab fa-facebook-f"></span>
						</a>

						<a href="#">
							<span class="fab fa-twitter"></span>
						</a>

						<a href="#">
							<span class="fab fa-pinterest-p"></span>
						</a>

						<a href="#">
							<span class="fab fa-vimeo-v"></span>
						</a>

						<a href="#">
							<span class="fab fa-youtube"></span>
						</a>
					</li>
				</ul>
			</div>

			<!--  -->
			<div class="wrap-logo container">
				<!-- Logo desktop -->		
				<div class="logo">
					<a asp-page="Index"><img src="~/frontend/images/icons/logo-01.png" alt="LOGO"></a>
				</div>	

				<!-- Banner -->
				<div class="banner-header">
					<a href="https://themewagon.com/themes/free-bootstrap-4-html5-news-website-template-magnews2/"><img src="~/frontend/images/banner-01.jpg" alt="IMG"></a>
				</div>
			</div>	

			<!--  -->
			<div class="wrap-main-nav">
				<div class="main-nav">
					<!-- Menu desktop -->
					<nav class="menu-desktop">
						<a class="logo-stick" asp-page="Index">
	<img src="~/frontend/images/icons/logo-01.png" alt="LOGO">
</a>

						<ul class="main-menu">
							<div class="main-menu-active">
								<a href="/Homepage/Index">Home</a>
							</div>
							@foreach(var c in Model.categories){
							<li class="mega-menu-item">
								<a href="/Homepage/index?title=@c.Title">@c.Title</a>
								</li>
							}
						</ul>
					</nav>
				</div>
			</div>	
		</div>
	</header>

	<!-- Headline -->
	<div class="container">
		<div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
			<div class="f2-s-1 p-r-30 size-w-0 m-tb-6 flex-wr-s-c">
				<span class="text-uppercase cl2 p-r-8">
					Trending Now:
				</span>

				<span class="dis-inline-block cl6 slide100-txt pos-relative size-w-0" data-in="fadeInDown" data-out="fadeOutDown">
					<span class="dis-inline-block slide100-txt-item animated visible-false">
						Interest rate angst trips up US equity bull market
					</span>

					<span class="dis-inline-block slide100-txt-item animated visible-false">
						Designer fashion show kicks off Variety Week
					</span>

					<span class="dis-inline-block slide100-txt-item animated visible-false">
						Microsoft quisque at ipsum vel orci eleifend ultrices
					</span>
				</span>
			</div>

			<form method="get" class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
				<input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
				<button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
					<i class="zmdi zmdi-search"></i>
				</button>
			</form>
		</div>
	</div>

	<!-- Feature post -->
	<section class="bg0">
		<div class="container">
			<div class="row m-rl--1">
				<div class="col-md-6 p-rl-1 p-b-2">
					<div class="bg-img1 size-a-3 how1 pos-relative" style="background-image: url(/img/hoangphu.jpg);">
						@{
							int id1 = 28;
						}
						<a href="/DetailArticle/blog-detail-01?id=@id1" class="dis-block how1-child1 trans-03"></a>

						<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
							

							<h3 class="how1-child2 m-t-14 m-b-10">
								<a href="#" class="how-txt1 size-a-6 f1-l-1 cl0 hov-cl10 trans-03">
									@*Microsoft quisque at ipsum vel orci eleifend ultrices*@
								</a>
							</h3>

							<span class="how1-child2">
								<span class="f1-s-4 cl11">
									@*Jack Sims*@
								</span>

								<span class="f1-s-3 cl11 m-rl-3">
									-
								</span>

								<span class="f1-s-3 cl11">
									@*Feb 16*@
								</span>
							</span>
						</div>
					</div>
				</div>

				<div class="col-md-6 p-rl-1">
					<div class="row m-rl--1">
						<div class="col-12 p-rl-1 p-b-2">
							<div class="bg-img1 size-a-4 how1 pos-relative" style="background-image: url(/img/messi.jpg);">
								@{
							      int id2 = 20;
						         }
						          <a href="/DetailArticle/blog-detail-01?id=@id2" class="dis-block how1-child1 trans-03"></a>

								<div class="flex-col-e-s s-full p-rl-25 p-tb-24">
									

									<h3 class="how1-child2 m-t-14">
										<a href="#" class="how-txt1 size-a-7 f1-l-2 cl0 hov-cl10 trans-03">
											@*London ipsum dolor sit amet, consectetur adipiscing elit.*@
										</a>
									</h3>
								</div>
							</div>
						</div>

						<div class="col-sm-6 p-rl-1 p-b-2">
							<div class="bg-img1 size-a-5 how1 pos-relative" style="background-image: url(/img/ki.jpg);">
								@{
							       int id3 = 27;
						         }
						        <a href="/DetailArticle/blog-detail-01?id=@id3" class="dis-block how1-child1 trans-03"></a>

								<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
									

									<h3 class="how1-child2 m-t-14">
										<a href="#" class="how-txt1 size-h-1 f1-m-1 cl0 hov-cl10 trans-03">
											@*Pellentesque dui nibh, pellen-tesque ut dapibus ut*@
										</a>
									</h3>
								</div>
							</div>
						</div>

						<div class="col-sm-6 p-rl-1 p-b-2">
							<div class="bg-img1 size-a-5 how1 pos-relative" style="background-image: url(/img/w.jpg);">
								@{
							         int id = 36;
						         }
						        <a href="/DetailArticle/blog-detail-01?id=@id" class="dis-block how1-child1 trans-03"></a>

								<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
									

									<h3 class="how1-child2 m-t-14">
										<a href="#" class="how-txt1 size-h-1 f1-m-1 cl0 hov-cl10 trans-03">
											@*Motobike Vestibulum vene-natis purus nec nibh volutpat*@
										</a>
									</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Post -->
	<section class="bg0 p-t-70">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8">
					<div class="p-b-20">
						<!-- Entertainment -->
						<div class="tab01 p-b-20">
							<div class="tab01-head how2 how2-cl1 bocl12 flex-s-c m-r-10 m-r-0-sr991">
								<!-- Brand tab -->
								
									@if(ViewData["cate"] != null)
									{
										<h3 class="f1-m-2 cl12 tab01-title">@ViewData["cate"]</h3>
									}
									else
									{
										<h3 class="f1-m-2 cl12 tab01-title">All</h3>
									}
							</div>


							<!-- Tab panes -->
							<div class="tab-content p-t-35">
								<!-- - -->
								<div class="tab-pane fade show active" id="tab1-1" role="tabpanel">
								
										<div style="display: flex;flex-wrap: wrap;" class="p-r-25 p-r-15-sr991 row">
										@if(Model.Articles == null || Model.Articles.Count < 1){
											<p style="color: rgba(0,0,0,0.5)">Không tìm thấy bài báo nào!</p>
										}
											@foreach(var c in Model.Articles)
										{
											<div class="m-b-20 col-sm-4">
												<a href="/DetailArticle/blog-detail-01?id=@c.Id" class="wrap-pic-w hov1 trans-03">
													
														<img src="@GetImageSource(c.Images.FirstOrDefault().Image1)" alt="IMG">
													
												</a>

												<div class="p-t-20">
													<h5 class="p-b-5">
														<a href="/DetailArticle/blog-detail-01?id=@c.Id" class="f1-m-3 cl2 hov-cl10 trans-03">
															@c.Title
														</a>
													</h5>

													<span class="cl8">
														
								   @{
                                        TimeSpan? timeSpan = DateTime.Now - c.CreateDate;
                                    }
                                    @if(timeSpan.Value.TotalSeconds <= 59)
                                    {
															<span class="f1-s-3">
																1 phút trước
															</span>
																}
                                    else if(timeSpan.Value.TotalMinutes <= 59)
                                    {
                                    <span class="f1-s-3">
										@((int)timeSpan.Value.TotalMinutes) phút trước
															</span>
                                    }
                                    else if(timeSpan.Value.TotalHours <= 24)
                                    {
                                    <span class="f1-s-3">@((int)timeSpan.Value.TotalHours) giờ trước  
										</span>
                                    }
                                    else if(timeSpan.Value.TotalDays <= 30)
                                    {
                                    <span class="f1-s-3">@((int)timeSpan.Value.TotalDays) ngày trước  
										</span>
                                    }
                                    else if(timeSpan.Value.TotalDays < 360)
                                    {
                                    <span class="f1-s-3">@(((int)timeSpan.Value.TotalDays)/30) tháng trước
										</span>
                                    }
                                    else if(timeSpan.Value.TotalDays >= 360)
                                    {
                                    <span class="f1-s-3">@((int)timeSpan.Value.TotalDays/(30*12)) năm trước   
									</span>
                                    }

														
													</span>
												</div>
											</div>
										}
										</div>
	
								</div>

								<!-- - -->
								<div class="tab-pane fade" id="tab1-2" role="tabpanel">
									<div class="row">
										<div class="col-sm-6 p-r-25 p-r-15-sr991">
											<!-- Item post -->	
											<div class="m-b-30">
												<a href="/DetailArticle/blog-detail-01" class="wrap-pic-w hov1 trans-03">
													<img src="~/frontend/images/post-09.jpg" alt="IMG">
												</a>

												<div class="p-t-20">
													<h5 class="p-b-5">
														<a href="/DetailArticle/blog-detail-01" class="f1-m-3 cl2 hov-cl10 trans-03">
															American live music lorem ipsum dolor sit amet consectetur 
														</a>
													</h5>

													<span class="cl8">
														<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
															Music
														</a>

														<span class="f1-s-3 m-rl-3">
															-
														</span>

														<span class="f1-s-3">
															Feb 18
														</span>
													</span>
												</div>
											</div>
										</div>

										<div class="col-sm-6 p-r-25 p-r-15-sr991">
											<!-- Item post -->
											<div class="flex-wr-sb-s m-b-30">
												<a href="/DetailArticle/blog-detail-01" class="size-w-1 wrap-pic-w hov1 trans-03">
													<img src="~/frontend/images/post-08.jpg" alt="IMG">
												</a>

												<div class="size-w-2">
													<h5 class="p-b-5">
														<a href="/DetailArticle/blog-detail-01" class="f1-s-5 cl3 hov-cl10 trans-03">
															Donec metus orci, malesuada et lectus vitae
														</a>
													</h5>

													<span class="cl8">
														<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
															Celebrity
														</a>

														<span class="f1-s-3 m-rl-3">
															-
														</span>

														<span class="f1-s-3">
															Feb 12
														</span>
													</span>
												</div>
											</div>

											<!-- Item post -->	
											<div class="flex-wr-sb-s m-b-30">
												<a href="/DetailArticle/blog-detail-01" class="size-w-1 wrap-pic-w hov1 trans-03">
													<img src="~/frontend/images/post-06.jpg" alt="IMG">
												</a>

												<div class="size-w-2">
													<h5 class="p-b-5">
														<a href="/DetailArticle/blog-detail-01" class="f1-s-5 cl3 hov-cl10 trans-03">
															Donec metus orci, malesuada et lectus vitae
														</a>
													</h5>

													<span class="cl8">
														<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
															Music
														</a>

														<span class="f1-s-3 m-rl-3">
															-
														</span>

														<span class="f1-s-3">
															Feb 17
														</span>
													</span>
												</div>
											</div>

											<!-- Item post -->
											<div class="flex-wr-sb-s m-b-30">
												<a href="/DetailArticle/blog-detail-01" class="size-w-1 wrap-pic-w hov1 trans-03">
													<img src="~/frontend/images/post-07.jpg" alt="IMG">
												</a>

												<div class="size-w-2">
													<h5 class="p-b-5">
														<a href="/DetailArticle/blog-detail-01" class="f1-s-5 cl3 hov-cl10 trans-03">
															Donec metus orci, malesuada et lectus vitae
														</a>
													</h5>

													<span class="cl8">
														<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
															Game
														</a>

														<span class="f1-s-3 m-rl-3">
															-
														</span>

														<span class="f1-s-3">
															Feb 16
														</span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- - -->
								<div class="tab-pane fade" id="tab1-3" role="tabpanel">
									<div class="row">
										<div class="col-sm-6 p-r-25 p-r-15-sr991">
											<!-- Item post -->	
											<div class="m-b-30">
												<a href="/DetailArticle/blog-detail-01" class="wrap-pic-w hov1 trans-03">
													<img src="~/frontend/images/post-08.jpg" alt="IMG">
												</a>

												<div class="p-t-20">
													<h5 class="p-b-5">
														<a href="/DetailArticle/blog-detail-01" class="f1-m-3 cl2 hov-cl10 trans-03">
															American live music lorem ipsum dolor sit amet consectetur 
														</a>
													</h5>

													<span class="cl8">
														<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
															Music
														</a>

														<span class="f1-s-3 m-rl-3">
															-
														</span>

														<span class="f1-s-3">
															Feb 18
														</span>
													</span>
												</div>
											</div>
										</div>

										<div class="col-sm-6 p-r-25 p-r-15-sr991">
											<!-- Item post -->
											<div class="flex-wr-sb-s m-b-30">
												<a href="/DetailArticle/blog-detail-01" class="size-w-1 wrap-pic-w hov1 trans-03">
													<img src="~/frontend/images/post-07.jpg" alt="IMG">
												</a>

												<div class="size-w-2">
													<h5 class="p-b-5">
														<a href="/DetailArticle/blog-detail-01" class="f1-s-5 cl3 hov-cl10 trans-03">
															Donec metus orci, malesuada et lectus vitae
														</a>
													</h5>

													<span class="cl8">
														<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
															Celebrity
														</a>

														<span class="f1-s-3 m-rl-3">
															-
														</span>

														<span class="f1-s-3">
															Feb 12
														</span>
													</span>
												</div>
											</div>

											<!-- Item post -->	
											<div class="flex-wr-sb-s m-b-30">
												<a href="/DetailArticle/blog-detail-01" class="size-w-1 wrap-pic-w hov1 trans-03">
													<img src="~/frontend/images/post-06.jpg" alt="IMG">
												</a>

												<div class="size-w-2">
													<h5 class="p-b-5">
														<a href="/DetailArticle/blog-detail-01" class="f1-s-5 cl3 hov-cl10 trans-03">
															Donec metus orci, malesuada et lectus vitae
														</a>
													</h5>

													<span class="cl8">
														<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
															Music
														</a>

														<span class="f1-s-3 m-rl-3">
															-
														</span>

														<span class="f1-s-3">
															Feb 17
														</span>
													</span>
												</div>
											</div>

											<!-- Item post -->
											<div class="flex-wr-sb-s m-b-30">
												<a href="/DetailArticle/blog-detail-01" class="size-w-1 wrap-pic-w hov1 trans-03">
													<img src="~/frontend/images/post-05.jpg" alt="IMG">
												</a>

												<div class="size-w-2">
													<h5 class="p-b-5">
														<a href="/DetailArticle/blog-detail-01" class="f1-s-5 cl3 hov-cl10 trans-03">
															Donec metus orci, malesuada et lectus vitae
														</a>
													</h5>

													<span class="cl8">
														<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
															Game
														</a>

														<span class="f1-s-3 m-rl-3">
															-
														</span>

														<span class="f1-s-3">
															Feb 16
														</span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- - -->
								<div class="tab-pane fade" id="tab1-4" role="tabpanel">
									<div class="row">
										<div class="col-sm-6 p-r-25 p-r-15-sr991">
											<!-- Item post -->	
											<div class="m-b-30">
												<a href="/DetailArticle/blog-detail-01" class="wrap-pic-w hov1 trans-03">
													<img src="~/frontend/images/post-06.jpg" alt="IMG">
												</a>

												<div class="p-t-20">
													<h5 class="p-b-5">
														<a href="/DetailArticle/blog-detail-01" class="f1-m-3 cl2 hov-cl10 trans-03">
															American live music lorem ipsum dolor sit amet consectetur 
														</a>
													</h5>

													<span class="cl8">
														<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
															Music
														</a>

														<span class="f1-s-3 m-rl-3">
															-
														</span>

														<span class="f1-s-3">
															Feb 18
														</span>
													</span>
												</div>
											</div>
										</div>

										<div class="col-sm-6 p-r-25 p-r-15-sr991">
											<!-- Item post -->
											<div class="flex-wr-sb-s m-b-30">
												<a href="/DetailArticle/blog-detail-01" class="size-w-1 wrap-pic-w hov1 trans-03">
													<img src="~/frontend/images/post-09.jpg" alt="IMG">
												</a>

												<div class="size-w-2">
													<h5 class="p-b-5">
														<a href="/DetailArticle/blog-detail-01" class="f1-s-5 cl3 hov-cl10 trans-03">
															Donec metus orci, malesuada et lectus vitae
														</a>
													</h5>

													<span class="cl8">
														<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
															Celebrity
														</a>

														<span class="f1-s-3 m-rl-3">
															-
														</span>

														<span class="f1-s-3">
															Feb 12
														</span>
													</span>
												</div>
											</div>

											<!-- Item post -->	
											<div class="flex-wr-sb-s m-b-30">
												<a href="/DetailArticle/blog-detail-01" class="size-w-1 wrap-pic-w hov1 trans-03">
													<img src="~/frontend/images/post-07.jpg" alt="IMG">
												</a>

												<div class="size-w-2">
													<h5 class="p-b-5">
														<a href="/DetailArticle/blog-detail-01" class="f1-s-5 cl3 hov-cl10 trans-03">
															Donec metus orci, malesuada et lectus vitae
														</a>
													</h5>

													<span class="cl8">
														<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
															Music
														</a>

														<span class="f1-s-3 m-rl-3">
															-
														</span>

														<span class="f1-s-3">
															Feb 17
														</span>
													</span>
												</div>
											</div>

											<!-- Item post -->
											<div class="flex-wr-sb-s m-b-30">
												<a href="/DetailArticle/blog-detail-01" class="size-w-1 wrap-pic-w hov1 trans-03">
													<img src="~/frontend/images/post-08.jpg" alt="IMG">
												</a>

												<div class="size-w-2">
													<h5 class="p-b-5">
														<a href="/DetailArticle/blog-detail-01" class="f1-s-5 cl3 hov-cl10 trans-03">
															Donec metus orci, malesuada et lectus vitae
														</a>
													</h5>

													<span class="cl8">
														<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
															Game
														</a>

														<span class="f1-s-3 m-rl-3">
															-
														</span>

														<span class="f1-s-3">
															Feb 16
														</span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- - -->
								<div class="tab-pane fade" id="tab1-5" role="tabpanel">
									<div class="row">
										<div class="col-sm-6 p-r-25 p-r-15-sr991">
											<!-- Item post -->	
											<div class="m-b-30">
												<a href="/DetailArticle/blog-detail-01" class="wrap-pic-w hov1 trans-03">
													<img src="~/frontend/images/post-07.jpg" alt="IMG">
												</a>

												<div class="p-t-20">
													<h5 class="p-b-5">
														<a href="/DetailArticle/blog-detail-01" class="f1-m-3 cl2 hov-cl10 trans-03">
															American live music lorem ipsum dolor sit amet consectetur 
														</a>
													</h5>

													<span class="cl8">
														<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
															Music
														</a>

														<span class="f1-s-3 m-rl-3">
															-
														</span>

														<span class="f1-s-3">
															Feb 18
														</span>
													</span>
												</div>
											</div>
										</div>

										<div class="col-sm-6 p-r-25 p-r-15-sr991">
											<!-- Item post -->
											<div class="flex-wr-sb-s m-b-30">
												<a href="/DetailArticle/blog-detail-01" class="size-w-1 wrap-pic-w hov1 trans-03">
													<img src="~/frontend/images/post-08.jpg" alt="IMG">
												</a>

												<div class="size-w-2">
													<h5 class="p-b-5">
														<a href="/DetailArticle/blog-detail-01" class="f1-s-5 cl3 hov-cl10 trans-03">
															Donec metus orci, malesuada et lectus vitae
														</a>
													</h5>

													<span class="cl8">
														<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
															Celebrity
														</a>

														<span class="f1-s-3 m-rl-3">
															-
														</span>

														<span class="f1-s-3">
															Feb 12
														</span>
													</span>
												</div>
											</div>

											<!-- Item post -->	
											<div class="flex-wr-sb-s m-b-30">
												<a href="/DetailArticle/blog-detail-01" class="size-w-1 wrap-pic-w hov1 trans-03">
													<img src="~/frontend/images/post-06.jpg" alt="IMG">
												</a>

												<div class="size-w-2">
													<h5 class="p-b-5">
														<a href="/DetailArticle/blog-detail-01" class="f1-s-5 cl3 hov-cl10 trans-03">
															Donec metus orci, malesuada et lectus vitae
														</a>
													</h5>

													<span class="cl8">
														<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
															Music
														</a>

														<span class="f1-s-3 m-rl-3">
															-
														</span>

														<span class="f1-s-3">
															Feb 17
														</span>
													</span>
												</div>
											</div>

											<!-- Item post -->
											<div class="flex-wr-sb-s m-b-30">
												<a href="/DetailArticle/blog-detail-01" class="size-w-1 wrap-pic-w hov1 trans-03">
													<img src="~/frontend/images/post-09.jpg" alt="IMG">
												</a>

												<div class="size-w-2">
													<h5 class="p-b-5">
														<a href="/DetailArticle/blog-detail-01" class="f1-s-5 cl3 hov-cl10 trans-03">
															Donec metus orci, malesuada et lectus vitae
														</a>
													</h5>

													<span class="cl8">
														<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
															Game
														</a>

														<span class="f1-s-3 m-rl-3">
															-
														</span>

														<span class="f1-s-3">
															Feb 16
														</span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						
					</div>
				</div>

				<div class="col-md-10 col-lg-4">
					<div class="p-l-10 p-rl-0-sr991 p-b-20">

						<!--  -->
						<div class="flex-c-s p-t-8">
							<a href="#">
								<img class="max-w-full" src="~/frontend/images/banner-02.jpg" alt="IMG">
							</a>
						</div>

						<!--  -->
						<div class="p-t-50">
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									Stay Connected
								</h3>
							</div>

							<ul class="p-t-35">
								<li class="flex-wr-sb-c p-b-20">
									<a href="#" class="size-a-8 flex-c-c borad-3 size-a-8 bg-facebook fs-16 cl0 hov-cl0">
										<span class="fab fa-facebook-f"></span>
									</a>

									<div class="size-w-3 flex-wr-sb-c">
										<span class="f1-s-8 cl3 p-r-20">
											6879 Fans
										</span>

										<a href="#" class="f1-s-9 text-uppercase cl3 hov-cl10 trans-03">
											Like
										</a>
									</div>
								</li>

								<li class="flex-wr-sb-c p-b-20">
									<a href="#" class="size-a-8 flex-c-c borad-3 size-a-8 bg-twitter fs-16 cl0 hov-cl0">
										<span class="fab fa-twitter"></span>
									</a>

									<div class="size-w-3 flex-wr-sb-c">
										<span class="f1-s-8 cl3 p-r-20">
											568 Followers
										</span>

										<a href="#" class="f1-s-9 text-uppercase cl3 hov-cl10 trans-03">
											Follow
										</a>
									</div>
								</li>

								<li class="flex-wr-sb-c p-b-20">
									<a href="#" class="size-a-8 flex-c-c borad-3 size-a-8 bg-youtube fs-16 cl0 hov-cl0">
										<span class="fab fa-youtube"></span>
									</a>

									<div class="size-w-3 flex-wr-sb-c">
										<span class="f1-s-8 cl3 p-r-20">
											5039 Subscribers
										</span>

										<a href="#" class="f1-s-9 text-uppercase cl3 hov-cl10 trans-03">
											Subscribe
										</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Banner -->
	<div class="container">
		<div class="flex-c-c">
			<a href="#">
				<img class="max-w-full" src="~/frontend/images/banner-01.jpg" alt="IMG">
			</a>
		</div>
	</div>

	<!-- Latest -->
	<section class="bg0 p-t-60 p-b-35">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 p-b-20">
					<div class="how2 how2-cl4 flex-s-c m-r-10 m-r-0-sr991">
						<h3 class="f1-m-2 cl3 tab01-title">
							Latest Articles
						</h3>
					</div>

					<div class="row p-t-35">
						@if(Model.ArticleNew == null || Model.ArticleNew.Count < 1)
						{
							<p style="color: rgba(0,0,0,0.2)">chưa có bài báo nào mới nhất được cập nhật trong hôm nay!</p>
						}
						@foreach(var c in Model.ArticleNew){
						<div class="col-sm-6 p-r-25 p-r-15-sr991">
							<!-- Item latest -->	
							<div class="m-b-45">
								<a href="/DetailArticle/blog-detail-01" class="wrap-pic-w hov1 trans-03">
									<img src="@GetImageSource(c.Images.FirstOrDefault().Image1)" alt="IMG">
								</a>

								<div class="p-t-16">
									<h5 class="p-b-5">
										<a href="/DetailArticle/blog-detail-01" class="f1-m-3 cl2 hov-cl10 trans-03">
											@c.Description 
										</a>
									</h5>

									<span class="cl8">
@{
                                        TimeSpan? timeSpan = DateTime.Now - c.CreateDate;
                                    }
                                    @if(timeSpan.Value.TotalSeconds <= 59)
                                    {
															<span class="f1-s-3">
																1 phút trước
															</span>
																}
                                    else if(timeSpan.Value.TotalMinutes <= 59)
                                    {
                                    <span class="f1-s-3">
										@((int)timeSpan.Value.TotalMinutes) phút trước
															</span>
                                    }
                                    else if(timeSpan.Value.TotalHours <= 24)
                                    {
                                    <span class="f1-s-3">@((int)timeSpan.Value.TotalHours) giờ trước  
										</span>
                                    }
                                    else if(timeSpan.Value.TotalDays <= 30)
                                    {
                                    <span class="f1-s-3">@((int)timeSpan.Value.TotalDays) ngày trước  
										</span>
                                    }
                                    else if(timeSpan.Value.TotalDays < 360)
                                    {
                                    <span class="f1-s-3">@(((int)timeSpan.Value.TotalDays)/30) tháng trước
										</span>
                                    }
                                    else if(timeSpan.Value.TotalDays >= 360)
                                    {
                                    <span class="f1-s-3">@((int)timeSpan.Value.TotalDays/(30*12)) năm trước   
									</span>
                                    }
									</span>
								</div>
							</div>
						</div>
						}
					</div>
				</div>

				<div class="col-md-10 col-lg-4">
					<div class="p-l-10 p-rl-0-sr991 p-b-20">
						<!-- Video -->
						<div class="p-b-55">
							<div class="how2 how2-cl4 flex-s-c m-b-35">
								<h3 class="f1-m-2 cl3 tab01-title">
									Featured Video
								</h3>
							</div>
						</div>

						<!-- Subscribe -->
						<div class="bg10 p-rl-35 p-t-28 p-b-35 m-b-55">
							<h5 class="f1-m-5 cl0 p-b-10">
								Subscribe
							</h5>

							<p class="f1-s-1 cl0 p-b-25">
								Get all latest content delivered to your email a few times a month.
							</p>

							<form class="size-a-9 pos-relative">
								<input class="s-full f1-m-6 cl6 plh9 p-l-20 p-r-55" type="text" name="email" placeholder="Email">

								<button class="size-a-10 flex-c-c ab-t-r fs-16 cl9 hov-cl10 trans-03">
									<i class="fa fa-arrow-right"></i>
								</button>
							</form>
						</div>

						<!-- Tag -->
						<div class="p-b-55">
							<div class="how2 how2-cl4 flex-s-c m-b-30">
								<h3 class="f1-m-2 cl3 tab01-title">
									Tags
								</h3>
							</div>

							<div class="flex-wr-s-s m-rl--5">
								@foreach(var c in Model.categories){
									<a href="/Homepage/index?title=@c.Title" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
									@c.Title
								</a>
								}
								
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer>
		<div class="bg2 p-t-40 p-b-25">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<a asp-page="Index">
								<img class="max-s-full" src="~/frontend/images/icons/logo-02.png" alt="LOGO">
							</a>
						</div>

						<div>
							<p class="f1-s-1 cl11 p-b-16">
								Đoạn văn nghị luận là một phần của văn bản nghị luận.
								Văn bản nghị luận là văn bản được viết ra nhằm xác lập cho người đọc một tư tưởng,
								một quan điểm. 
								Muốn xây dựng bài văn nghị luận cần phải xác lập các yếu tố: 
								Luận điểm, luận cứ, luận chứng, lập luận.
							</p>

							<p class="f1-s-1 cl11 p-b-16">
								Any questions? Call us on (+1) 96 716 6879
							</p>

							<div class="p-t-15">
								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-facebook-f"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-twitter"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-pinterest-p"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-vimeo-v"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-youtube"></span>
								</a>
							</div>
						</div>
					</div>

					

					<div class="col-sm-6 col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<h5 class="f1-m-7 cl0">
								Category
							</h5>
						</div>

						<ul class="m-t--12">
							@foreach (var c in Model.categories)
							{
								<li class="how-bor1 p-rl-5 p-tb-10">
									<a href="/Homepage/index?title=@c.Title" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
										@c.Title
									</a>
								</li>
							}
							

							
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="bg11">
			<div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">
					Copyright © 2023 

					<a href="#" class="f1-s-1 cl10 hov-link1"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</span>
			</div>
		</div>
	</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
	</div>

	<!-- Modal Video 01-->
	<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document" data-dismiss="modal">
			<div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

			<div class="wrap-video-mo-01">
				<div class="video-mo-01">
					<iframe src="https://www.youtube.com/embed/wJnBTPUQS5A?rel=0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->	
	<script src="~/frontend/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="~/frontend/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="~/frontend/vendor/bootstrap/js/popper.js"></script>
	<script src="~/frontend/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="~/frontend/js/main.js"></script>

</body>

