﻿@if (Model.Any())
{
        <ul>
        @foreach (var comment in Model)
        {
                    <li>
                        <strong>@comment.Username:</strong> @comment.Content
                    </li>
        }
        </ul>
}
else
{
        <p>Chưa có bình luận nào.</p>
}
