﻿@page 
@model ProjectPRN.Pages.Admin.Dashboard.ArticleModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Light Bootstrap Dashboard - Free Bootstrap 4 Admin Dashboard by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/css/demo.css" rel="stylesheet" />
</head>

<body>
    @if (TempData["ApproveChangeSuccess"] != null)
    {
        <div id="successMessage" class="alert alert-success">@TempData["ApproveChangeSuccess"]</div>
    }
    else if (TempData["ApproveChangeFail"] != null)
    {
        <div id="failMessage" class="alert alert-danger">@TempData["ApproveChangeFail"]</div>
    }
    else if (TempData["ChangeStatusSuccess"] != null)
    {
        <div id="successchangeMessage" class="alert alert-success">@TempData["ChangeStatusSuccess"]</div>    
    }
    else if (TempData["ChangeStatusFail"] != null)
    {
        <div id="failchangeMessage" class="alert alert-danger">@TempData["ChangeStatusFail"]</div>
    }
    <script>
        setTimeout(function () {
            var successMessage = document.getElementById("successMessage");
            if (successMessage) {
                successMessage.remove();
            }
        }, 2000);
    </script>
    <script>
        setTimeout(function () {
            var failMessage = document.getElementById("failMessage");
            if (failMessage) {
                failMessage.remove();
            }
        }, 2000);
    </script>
    <script>
        setTimeout(function () {
            var successchangeMessage = document.getElementById("successchangeMessage");
            if (successchangeMessage) {
                successchangeMessage.remove();
            }
        }, 2000);
    </script>
    <script>
        setTimeout(function () {
            var failchangeMessage = document.getElementById("failchangeMessage");
            if (failchangeMessage) {
                failchangeMessage.remove();
            }
        }, 2000);
    </script>
    <div class="wrapper">
        <div class="sidebar" data-image="~/img/sidebar-5.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        Admin Page
                    </a>
                </div>
                <ul class="nav">
                    <li>
                        <a class="nav-link" href="./dashboard">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="./user">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Writer Managerment</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="./table">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>User Managerment</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="./Report">
                            <i class="nc-icon nc-notes"></i>
                            <p>Report Managerment</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./Article">
                            <i class="nc-icon nc-notes"></i>
                            <p>Article Managerment</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#pablo"> ARTICLE </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-toggle="dropdown">
                                    <i class="nc-icon nc-palette"></i>
                                    <span class="d-lg-none">Dashboard</span>
                                </a>
                            </li>
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <i class="nc-icon nc-planet"></i>
                                    <span class="notification">@Model.notification</span>
                                    <span class="d-lg-none">Notification</span>
                                </a>
                                <ul class="dropdown-menu">
                                    @if (Model.notification != 0) 
                                    {
                                        <a class="dropdown-item" href="/Admin/Dashboard/Article">Some new article need to check</a>
                                    }
                                </ul>
                            </li>
                           
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Homepage/Index">
                                    <span class="no-icon">Home</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/Dashboard/Logout">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header row">
                                    <h4 class="card-title col-md-6">User Managerment</h4>
                                    <div class="col-md-6 row">
                                        <form method="post">
                                            <input class="col-md-8" type="text" placeholder="Author Name" asp-for="WName" />
                                            <button type="submit" name="submitButton" value="search" class="btn btn-secondary">Search</button>
                                        </form>
                                    </div>
                                    <p class="card-category"></p>
                                </div>
                                
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th>Writer</th>
                                        <th>Create Date</th>
                                        <th>Approve</th>
                                        <th></th>
                                        </thead>

                                        @foreach (var articles in Model.articles)
                                        {
                                            if(articles.Status.ToString().ToLower().Equals("true")){
                                                if (articles.Approve.ToString().ToLower().Equals("new"))
                                                {
                                                    <form method="post">
                                                       
                                                        <tbody>
                                                            <tr>
                                                                <td>@articles.User.Name</td>
                                                                <td>@articles.CreateDate.ToString()</td>
                                                                <td>
                                                                    <select asp-for="SelectOption">
                                                                        <option value="Approve">Approve</option>
                                                                        <option value="Reject">Reject</option>
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                 <input type="hidden" asp-for="ArId" value="@articles.Id"/>
                                                                 <button type="submit" name="submitButton" value="submit" class="btn btn-primary">Submit</button>
                                                                 <button type="submit" name="submitButton" value="changestatus" class="btn btn-primary">Change Status</button>
                                                                 <a asp-page="/Admin/Dashboard/ArticleDetail" asp-route-id="@articles.Id" class="btn btn-primary">Detail</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        </form>
                                                    }
                                                    else if (articles.Approve.ToString().ToLower().Equals("approve"))
                                                    {
                                                        <form method="post">
                        
                                                        <tbody class="table-success">
                                                        <tr>
                                                            <td>@articles.User.Name</td>
                                                            <td>@articles.CreateDate.ToString()</td>
                                                            <td>Approved</td> 
                                                            <td>
                                                                <input type="hidden" asp-for="ArId" value="@articles.Id" />
                                                                <button type="submit" name="submitButton" value="changestatus" class="btn btn-primary">Change Status</button>
                                                                <a asp-page="/Admin/Dashboard/ArticleDetail" asp-route-id="@articles.Id" class="btn btn-primary">Detail</a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                        </form>

                                                    }
                                                    else if (articles.Approve.ToString().ToLower().Equals("reject"))
                                                    {
                                                        <form method="post">
                                                       
                                                        <tbody class="table-danger">
                                                        <tr>
                                                            <td>@articles.User.Name</td>
                                                            <td>@articles.CreateDate.ToString()</td>
                                                            <td>
                                                            <select asp-for="SelectOption">
                                                                <option value="Approve">Approve</option>
                                                                <option value="Reject" disabled>Reject</option>
                                                            </select>
                                                            </td>
                                                            <td>
                                                                <input type="hidden" asp-for="ArId" value="@articles.Id" />
                                                            <button type="submit" name="submitButton" value="submit" class="btn btn-primary">Submit</button>
                                                            <button type="submit" name="submitButton" value="changestatus" class="btn btn-primary">Change Status</button>
                                                            <a asp-page="/Admin/Dashboard/ArticleDetail" asp-route-id="@articles.Id" class="btn btn-primary">Detail</a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                        </form>
                                                    }

                                                }
                                                else if(articles.Status.ToString().ToLower().Equals("false"))
                                                {

                                                    if (articles.Approve.ToString().ToLower().Equals("new"))
                                                    {
                                                        <form method="post">
                                                       
                                                        <tbody>
                                                            <tr>
                                                            <td>@articles.User.Name</td>
                                                                <td>@articles.CreateDate.ToString()</td>
                                                                <td>
                                                                    <select asp-for="SelectOption" disabled>
                                                                        <option value="Approve">Approve</option>
                                                                        <option value="Reject">Reject</option>
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                <input type="hidden" asp-for="ArId" value="@articles.Id" />
                                                                    <button type="submit" name="submitButton" value="submit" class="btn btn-primary" disabled>Submit</button>
                                                                    <button type="submit" name="submitButton" value="changestatus" class="btn btn-primary">Change Status</button>
                                                                    <a asp-page="/Admin/Dashboard/ArticleDetail" asp-route-id="@articles.Id" class="btn btn-primary">Detail</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        </form>
                                                    }
                                                    else if (articles.Approve.ToString().ToLower().Equals("approve"))
                                                    {
                                                        <form method="post">
                                                       
                                                        <tbody class="table-success">
                                                            <tr>
                                                            <td>@articles.User.Name</td>
                                                                <td>@articles.CreateDate.ToString()</td>
                                                                <td>Approved</td>
                                                                <td>
                                                                <input type="hidden" asp-for="ArId" value="@articles.Id" />
                                                                    <button type="submit" name="submitButton" value="changestatus" class="btn btn-primary">Change Status</button>
                                                                    <a asp-page="/Admin/Dashboard/ArticleDetail" asp-route-id="@articles.Id" class="btn btn-primary">Detail</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        </form>

                                                    }
                                                    else if (articles.Approve.ToString().ToLower().Equals("reject"))
                                                    {
                                                        <form method="post">
                                                        
                                                        <tbody class="table-danger">
                                                            <tr>
                                                            <td>@articles.User.Name</td>
                                                                <td>@articles.CreateDate.ToString()</td>
                                                                <td>
                                                                    <select asp-for="SelectOption" disabled>
                                                                        <option value="Approve">Approve</option>
                                                                        <option value="Reject" disabled>Reject</option>
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                <input type="hidden" asp-for="ArId" value="@articles.Id" />
                                                                    <button type="submit" name="submitButton" value="submit" class="btn btn-primary" disabled>Submit</button>
                                                                    <button type="submit" name="submitButton" value="changestatus" class="btn btn-primary">Change Status</button>
                                                                    <a asp-page="/Admin/Dashboard/ArticleDetail" asp-route-id="@articles.Id" class="btn btn-primary">Detail</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        </form>
                                                    }
                                                }
                                            }
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
    <!--   -->
    <!-- <div class="fixed-plugin">
        <div class="dropdown show-dropdown">
            <a href="#" data-toggle="dropdown">
                <i class="fa fa-cog fa-2x"> </i>
            </a>

            <ul class="dropdown-menu">
                <li class="header-title"> Sidebar Style</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger">
                        <p>Background Image</p>
                        <label class="switch">
                            <input type="checkbox" data-toggle="switch" checked="" data-on-color="primary" data-off-color="primary"><span class="toggle"></span>
                        </label>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger background-color">
                        <p>Filters</p>
                        <div class="pull-right">
                            <span class="badge filter badge-black" data-color="black"></span>
                            <span class="badge filter badge-azure" data-color="azure"></span>
                            <span class="badge filter badge-green" data-color="green"></span>
                            <span class="badge filter badge-orange" data-color="orange"></span>
                            <span class="badge filter badge-red" data-color="red"></span>
                            <span class="badge filter badge-purple active" data-color="purple"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="header-title">Sidebar Images</li>

                <li class="active">
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="../assets/img/sidebar-1.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="../assets/img/sidebar-3.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="..//assets/img/sidebar-4.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="../assets/img/sidebar-5.jpg" alt="" />
                    </a>
                </li>

                <li class="button-container">
                    <div class="">
                        <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard" target="_blank" class="btn btn-info btn-block btn-fill">Download, it's free!</a>
                    </div>
                </li>

                <li class="header-title pro-title text-center">Want more components?</li>

                <li class="button-container">
                    <div class="">
                        <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank" class="btn btn-warning btn-block btn-fill">Get The PRO Version!</a>
                    </div>
                </li>

                <li class="header-title" id="sharrreTitle">Thank you for sharing!</li>

                <li class="button-container">
                    <button id="twitter" class="btn btn-social btn-outline btn-twitter btn-round sharrre"><i class="fa fa-twitter"></i> · 256</button>
                    <button id="facebook" class="btn btn-social btn-outline btn-facebook btn-round sharrre"><i class="fa fa-facebook-square"></i> · 426</button>
                </li>
            </ul>
        </div>
    </div>
     -->
</body>
<!--   Core JS Files   -->
<script src="~/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="~/js/core/popper.min.js" type="text/javascript"></script>
<script src="~/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="~/js/plugins/bootstrap-switch.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--  Chartist Plugin  -->
<script src="~/js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="~/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="~/js/light-bootstrap-dashboard.js?v=2.0.0 " type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="~/js/demo.js"></script>

</html>
