﻿body {
    background-color: #344a72;
    font-family: "Roboto", sans-serif;
}

.signup-box {
    width: 355px;
    height: 750px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}

.login-box {
    width: 360px;
    height: 310px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
}

h1 {
    text-align: center;
    padding-top: 70px;
}

h4 {
    text-align: center;
}

form {
    width: 300px;
    margin-left: 20px;
}

    form label {
        display: flex;
        margin-top: 20px;
        font-size: 18px;
    }

    form input {
        width: 100%;
        padding: 7px;
        border: none;
        border: 1px solid gray;
        border-radius: 6px;
        outline: none;
    }

input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}

p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.para-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}

    .para-2 a {
        color: #49c1a2;
    }
