﻿@page 
@model ProjectPRN.Pages.DetailArticle.blog_detail_01Model
@{
}
@functions {
    public string GetImageSource(byte[] imageBytes)
    {
        string base64String = Convert.ToBase64String(imageBytes);
        return $"data:image/png;base64,{base64String}";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
	
	<title>Blog Detail With Sidebar</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/frontend/images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/frontend/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/frontend/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/frontend/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/frontend/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/frontend/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/frontend/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/frontend/css/util.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/frontend/css/main.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="./lib/bootstrap/dist/js/bootstrap.bundle.min.js">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="./fonts/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="./js/jquery-min.js">
</head>
<body class="animsition">
	@if (TempData["error"] != null)
	{
		<div id="successMessage" class="alert alert-success">@TempData["error"]</div>
	}
	<script>
        setTimeout(function () {
            var successMessage = document.getElementById("successMessage");
            if (successMessage) {
                successMessage.remove();
            }
        }, 4000);
    </script>
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="topbar">
				<div class="content-topbar container h-100">
					<div class="left-topbar">
						<span class="left-topbar-item flex-wr-s-c">
							<span>
								FPT
							</span>

							<img class="m-b-1 m-rl-8" src="~/frontend/images/icons/icon-night.png" alt="IMG">
						</span>

						<a href="#" class="left-topbar-item">
							About
						</a>

						<a href="#" class="left-topbar-item">
							Contact
						</a>

						@if (ViewData["user"] != null)
						{

							<a href="/Account/logout" class="left-topbar-item">
								Log out
							</a>
						}
						else
						{
							<a href="/Account/signup" class="left-topbar-item">
								Sign up
							</a>
							<a href="/Account/login" class="left-topbar-item">
								Log in
							</a>
						}
						@if (ViewData["role"] != null && ViewData["role"].ToString().Equals("admin"))
						{
							<a href="/Admin/DashBoard/dashboard" class="left-topbar-item">
								Dash Board
							</a>
						}
						else if (ViewData["role"] != null && ViewData["role"].ToString().Equals("writer"))
						{
							<a href="/Writer/List" class="left-topbar-item">
								Management Articles
							</a>
						}
					</div>

					<div class="right-topbar">
						<a href="#">
							<span class="fab fa-facebook-f"></span>
						</a>

						<a href="#">
							<span class="fab fa-twitter"></span>
						</a>

						<a href="#">
							<span class="fab fa-pinterest-p"></span>
						</a>

						<a href="#">
							<span class="fab fa-vimeo-v"></span>
						</a>

						<a href="#">
							<span class="fab fa-youtube"></span>
						</a>
					</div>
				</div>
			</div>

			<!-- Header Mobile -->
			<div class="wrap-header-mobile">
				<!-- Logo moblie -->		
				<div class="logo-mobile">
					<a href="index.html"><img src="~/frontend/images/icons/logo-01.png" alt="IMG-LOGO"></a>
				</div>

				<!-- Button show menu -->
				<div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>

			<!-- Menu Mobile -->
			<div class="menu-mobile">
				<ul class="topbar-mobile">
					<li class="left-topbar">
						<span class="left-topbar-item flex-wr-s-c">
							<span>
								New York, NY
							</span>

							<img class="m-b-1 m-rl-8" src="~/frontend/images/icons/icon-night.png" alt="IMG">

							<span>
								HI 58° LO 56°
							</span>
						</span>
					</li>

					<li class="left-topbar">
						<a href="#" class="left-topbar-item">
							About
						</a>

						<a href="#" class="left-topbar-item">
							Contact
						</a>

						<a href="#" class="left-topbar-item">
							Sing up
						</a>

						<a href="#" class="left-topbar-item">
							Log in
						</a>
					</li>

					<li class="right-topbar">
						<a href="#">
							<span class="fab fa-facebook-f"></span>
						</a>

						<a href="#">
							<span class="fab fa-twitter"></span>
						</a>

						<a href="#">
							<span class="fab fa-pinterest-p"></span>
						</a>

						<a href="#">
							<span class="fab fa-vimeo-v"></span>
						</a>

						<a href="#">
							<span class="fab fa-youtube"></span>
						</a>
					</li>
				</ul>

				<ul class="main-menu-m">
					<li>
						<a asp-page="Index" class="menu-link">Home</a>

						<span class="arrow-main-menu-m">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</li>

					<li>
						<a href="category-01.html">News</a>
					</li>

					<li>
						<a href="category-02.html">Entertainment </a>
					</li>

					<li>
						<a href="category-01.html">Business</a>
					</li>

					<li>
						<a href="category-02.html">Travel</a>
					</li>

					<li>
						<a href="category-01.html">Life Style</a>
					</li>

					<li>
						<a href="#">Features</a>
						<ul class="sub-menu-m">
							<li><a href="about.html">About Us</a></li>
							<li><a href="contact.html">Contact Us</a></li>
						</ul>

						<span class="arrow-main-menu-m">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</li>
				</ul>
			</div>

			<!--  -->
			<div class="wrap-logo container">
				<!-- Logo desktop -->		
				<div class="logo">
					<a href="index.html"><img src="~/frontend/images/icons/logo-01.png" alt="LOGO"></a>
				</div>	

				<!-- Banner -->
				<div class="banner-header">
					<a href="#"><img src="~/frontend/images/banner-01.jpg" alt="IMG"></a>
				</div>
			</div>	

			<!--  -->
			<div class="wrap-main-nav">
				<div class="main-nav">
					<!-- Menu desktop -->
					<nav class="menu-desktop">
						<a class="logo-stick" href="index.html">
							<img src="~/frontend/images/icons/logo-01.png" alt="LOGO">
						</a>

						<ul class="main-menu">
							<li>
								<a href="/Homepage/Index" class="menu-link">Home</a>
							</li>
							@foreach(var c in Model.Categories){
							<li class="mega-menu-item">
								<a href="/Homepage/index?title=@c.Title">@c.Title</a>
								</li>
							}
						</ul>
					</nav>
				</div>
			</div>	
		</div>
	</header>

	<!-- Breadcrumb -->
	<div class="container">
		<div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">
			<div class="f2-s-1 p-r-30 m-tb-6">
				<a href="index.html" class="breadcrumb-item f1-s-3 cl9">
					Home 
				</a>

				<a href="blog-list-01.html" class="breadcrumb-item f1-s-3 cl9">
					Blog 
				</a>

				<span class="breadcrumb-item f1-s-3 cl9">
					 Nulla non interdum metus non laoreet nisi tellus eget aliquam lorem pellentesque
				</span>
			</div>

			<div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
				<input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
				<button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
					<i class="zmdi zmdi-search"></i>
				</button>
			</div>
		</div>
	</div>

	<!-- Content -->
	<section class="bg0 p-b-140 p-t-10">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 p-b-30">
					<div class="p-r-10 p-r-0-sr991">
						<!-- Blog Detail -->
						@if (Model.error == true)
						{
							<div class="p-b-70">
								<a href="#" class="f1-s-10 cl2 hov-cl10 trans-03 text-uppercase">
									@Model.currentArticle.Cate.Title
								</a>

								<h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2">
									@Model.currentArticle.Title
								</h3>

								<div class="flex-wr-s-s p-b-40">
									<span class="f1-s-3 cl8 m-r-15">
										<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
											@Model.currentArticle.User.Name
										</a>

										<span class="m-rl-3">-</span>

										<span>
											Feb 18
										</span>
									</span>

									<span class="f1-s-3 cl8 m-r-15">
										5239 Views
									</span>

									<a href="#" class="f1-s-3 cl8 hov-cl10 trans-03 m-r-15">
										@Model.Comments.Count Comments
									</a>
								</div>
								@{
									var split = @Model.currentArticle.Content.Trim().Split("#image");
                                    int imageOrder = 0;

								}
								
									@if (@Model.Images == null || @Model.Images.Count < 1)
									{
										<p style="color: red;"> nội dung chứa kí tự hiện thị image,lỗi image không được tìm thấy.</p>
									}

									@for (int i = 0; i < split.Length; i++)
									{
										if (!@split[i].Equals(string.Empty))
										{
										<p class="f1-s-11 cl6 p-b-25">@split[i]</p>
										}

										if (Model.Images.Count > imageOrder)
										{
											<div class="wrap-pic-max-w p-b-30">
											<img width="500px" height="500px" style="align-content :center;" src="@GetImageSource(@Model.Images[imageOrder].Image1)" alt="Hình ảnh">									
								            </div>
											imageOrder++;
										}
										else if (i < split.Length - 1)
										{
											<p style="color: red;">Thiếu hình ảnh!.</p>
										}
									}
								
								@*<div class="wrap-pic-max-w p-b-30">
									<img src="~/frontend/images/blog-list-01.jpg" alt="IMG">
								</div>

								<p class="f1-s-11 cl6 p-b-25">
									Curabitur volutpat bibendum molestie. Vestibulum ornare gravida semper. Aliquam a dui suscipit, fringilla metus id, maximus leo. Vivamus sapien arcu, mollis eu pharetra vitae, condimentum in orci. Integer eu sodales dolor. Maecenas elementum arcu eu convallis rhoncus. Donec tortor sapien, euismod a faucibus eget, porttitor quis libero. 
								</p>

								<p class="f1-s-11 cl6 p-b-25">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet est vel orci luctus sollicitudin. Duis eleifend vestibulum justo, varius semper lacus condimentum dictum. Donec pulvinar a magna ut malesuada. In posuere felis diam, vel sodales metus accumsan in. Duis viverra dui eu pharetra pellentesque. Donec a eros leo. Quisque sed ligula vitae lorem efficitur faucibus. Praesent sit amet imperdiet ante. Nulla id tellus auctor, dictum libero a, malesuada nisi. Nulla in porta nibh, id vestibulum ipsum. Praesent dapibus tempus erat quis aliquet. Donec ac purus id sapien condimentum feugiat.
								</p>

								<p class="f1-s-11 cl6 p-b-25">
									Praesent vel mi bibendum, finibus leo ac, condimentum arcu. Pellentesque sem ex, tristique sit amet suscipit in, mattis imperdiet enim. Integer tempus justo nec velit fringilla, eget eleifend neque blandit. Sed tempor magna sed congue auctor. Mauris eu turpis eget tortor ultricies elementum. Phasellus vel placerat orci, a venenatis justo. Phasellus faucibus venenatis nisl vitae vestibulum. Praesent id nibh arcu. Vivamus sagittis accumsan felis, quis vulputate
								</p>*@

								<!-- Tag -->
								<div class="flex-s-s p-t-12 p-b-15">
									<span class="f1-s-12 cl5 m-r-8">
										Tags:
									</span>

									<div class="flex-wr-s-s size-w-0">
										<a href="#" class="f1-s-12 cl8 hov-link1 m-r-15">
											Streetstyle
										</a>

										<a href="#" class="f1-s-12 cl8 hov-link1 m-r-15">
											Crafts
										</a>
									</div>
								</div>

								<!-- Share -->
								<div class="flex-s-s">
									<span class="f1-s-12 cl5 p-t-1 m-r-15">
										Share:
									</span>

									<div class="flex-wr-s-s size-w-0">
										<a href="#" class="dis-block f1-s-13 cl0 bg-facebook borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
											<i class="fab fa-facebook-f m-r-7"></i>
											Facebook
										</a>

										<a href="#" class="dis-block f1-s-13 cl0 bg-twitter borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
											<i class="fab fa-twitter m-r-7"></i>
											Twitter
										</a>

										<a href="#" class="dis-block f1-s-13 cl0 bg-google borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
											<i class="fab fa-google-plus-g m-r-7"></i>
											Google+
										</a>

										<a href="#" class="dis-block f1-s-13 cl0 bg-pinterest borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
											<i class="fab fa-pinterest-p m-r-7"></i>
											Pinterest
										</a>
									</div>
								</div>
							</div>
						}
						else
						{
							<p class="f1-s-11 cl6 p-b-25" style="color: red;font-size:100px "> The article not found</p>
						}
						<div style="height: 30px;"></div>


							<div id="commentList">
							@if (Model.error == true) {
								@foreach (var comment in Model.Comments)
								{
									<div class="container mt-5">
                                    <div class="d-flex justify-content-center row">
                                    <div class="col-md-8">
                                    <div class="d-flex flex-column comment-section">
                                    <div class="bg-white p-2">
                                    <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                                    <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">@comment.User.Name</span><span class="date text-black-50">@comment.CreateDate.ToString() </span></div>
                                    </div>
                                    <div class="mt-2">
                                    <p class="comment-text">@comment.Content</p>
                                    </div>
														
                                    </div>
                                    <div class="bg-white">
                                    <div class="d-flex flex-row fs-12">
                                    <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                                    <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Reply</span></div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>

									
								}
							}
						</div>
						<button class="btn btn-primary btn-sm shadow-none" id="view-more-btn" onclick="showMoreComments()">Xem thêm</button>
                    
						
						<!-- Leave a comment -->
						<div>
							<h4 class="f1-l-4 cl3 p-b-12">
								Leave a Comment
							</h4>

							<p class="f1-s-13 cl8 p-b-40">
								Your email address will not be published. Required fields are marked *
							</p>

							<form name="commentForm" method="post" value="submit">
								<input type="hidden" asp-for="action" value="Comment"/>
								<textarea class="bo-1-rad-3 bocl13 size-a-15 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20" asp-for="Msg" placeholder="Comment..."></textarea>

								<button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10">
									Post Comment
								</button>
							</form>


						         <div style="height: 30px;"></div>

                            <h4 class="f1-l-4 cl3 p-b-12">
								Report
							</h4>

							<form method="post" name="postForm" value="submit">
								<input type="hidden" asp-for="action" value="Report"/>
								<textarea class="bo-1-rad-3 bocl13 size-a-15 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20" asp-for="MsgRP" placeholder="Report..."></textarea>
								<button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10">
									Post Report
								</button>
							</form>
						</div>
					</div>
				</div>

				<!-- Sidebar -->
				<div class="col-md-10 col-lg-4 p-b-30">
					<div class="p-l-10 p-rl-0-sr991 p-t-70">						
						<!-- Category -->
						<div class="p-b-60">
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									Category
								</h3>
							</div>

							<ul class="p-t-35">
								@foreach (var c in Model.Categories)
								{
									<li class="how-bor3 p-rl-4">
									<a href="/Homepage/Index?title=@c.Title" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										@c.Title
									</a>
								</li>
								}
								
							</ul>
						</div>

						<!-- Popular Posts -->

						<!-- Tag -->
						<div>
							<div class="how2 how2-cl4 flex-s-c m-b-30">
								<h3 class="f1-m-2 cl3 tab01-title">
									Tags
								</h3>
							</div>

							<div class="flex-wr-s-s m-rl--5">
								@foreach (var c in Model.Categories)
								{
									<a href="/Homepage/Index?title=@c.Title" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
										@c.Title
									</a>
								}
								
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer>
		<div class="bg2 p-t-40 p-b-25">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<a href="index.html">
								<img class="max-s-full" src="~/frontend/images/icons/logo-02.png" alt="LOGO">
							</a>
						</div>

						<div>
							<p class="f1-s-1 cl11 p-b-16">
                                <strong>Báo tiếng Việt nhiều người xem nhất</strong> <br>
                                Thuộc đại học FPT<br />
                                SE1614	
							<p class="f1-s-1 cl11 p-b-16">
								Any questions? Call us on 012345678
							</p>

							<div class="p-t-15">
								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-facebook-f"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-twitter"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-pinterest-p"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-vimeo-v"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-youtube"></span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<h5 class="f1-m-7 cl0">
								Category
							</h5>
						</div>

						<ul class="m-t--12">
							@foreach (var c in Model.Categories)
							{
								<li class="how-bor1 p-rl-5 p-tb-10">
									<a href="/Homepage/Index?title=@c.Title" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
										@c.Title
									</a>
								</li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="bg11">
			<div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">
					Copyright © 2018 

					<a href="#" class="f1-s-1 cl10 hov-link1"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">TeamHHH</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</span>
			</div>
		</div>
	</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
	</div>


<!--===============================================================================================-->	
	<script src="~/frontend/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="~/frontend/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="~/frontend/vendor/bootstrap/js/popper.js"></script>
	<script src="~/frontend/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="~/frontend/js/main.js"></script>
	@section Scripts {
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
			$(document).ready(function () {
				$("#commentForm").submit(function (event) {
					event.preventDefault(); 

					var formData = $(this).serialize();

					$.ajax({
						type: "POST",
						url: '@Url.Page("blog-detail-01")',
						data: formData,
						success: function (data) {
							$("#commentList").html(data);
						}
					});
				});
			});
		</script>
	}
}
</body>
</html>

