﻿@page
@model ProjectPRN.Pages.Writer.PostModel
@{
}
@functions {
    public string GetImageSource(byte[] imageBytes)
    {
        string base64String = Convert.ToBase64String(imageBytes);
        return $"data:image/png;base64,{base64String}";
    }
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Light Bootstrap Dashboard - Free Bootstrap 4 Admin Dashboard by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/css/demo.css" rel="stylesheet" />
</head>

<body>
    <style>
        .selected-image {
            max-width: 400px;
            max-height: 300px;
            margin-right: 20px;
        }
    </style>
    <div class="wrapper">
        <div class="sidebar" data-image="~/img/sidebar-5.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        Page Writer
                    </a>
                </div>
                <ul class="nav">
                    <li>
                        <a class="nav-link" href="/Writer/Post">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Create Article</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/Writer/List">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Your Articles</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#pablo"> Management </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-toggle="dropdown">
                                    <i class="nc-icon nc-palette"></i>
                                    <span class="d-lg-none">Dashboard</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/Homepage/Index">

                                    <span class="no-icon">Home</span>

                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Account/Login">
                                    @if(ViewData["user"] != null)
                                    {
                                        <span class="no-icon">Log out</span>
                                    }
                                    
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <form method="post" class="content" enctype="multipart/form-data">
                <div class="container-fluid">
                    <h3>Create New Article</h3>
                    <p style="margin-bottom: 3px;font-weight:bold;">Thể loại Báo</p>
                    <select id="fruits" name="cate" style="margin-bottom: 40px; width: 13vw;height: 4vh;">
                        @foreach(var c in Model.Categories)
                        {
                            <option value="@c.Id">@c.Title</option>
                        }
                        
                    </select>
                    <p style="margin-bottom: 3px;font-weight:bold;">Tiltle</p>
                    <input type="text" asp-for="Title" placeholder="Title article" style="margin-bottom: 40px;width: 13vw; height:5vh;" />
                    <p style="margin-bottom: 1px;font-weight:bold;">Content</p>
                    <p style="margin-bottom: 3px;opacity: 0.5;">Sử dụng kí tự #image để chèn hình ảnh, thứ tự hình ảnh lần lượt được chọn.</p>
                    <textarea cols="60" rows="6" asp-for="Content" style="margin-bottom: 40px;"></textarea>
                    <p style="margin-bottom: 1px;font-weight:bold;">Miêu tả</p>
                    <input type="text" asp-for="Description" style="margin-bottom: 40px;width: 20vw; height:10vh;" />
                    <p style="margin-bottom: 1px;font-weight:bold;">Hình ảnh</p>
                    <input type="file" id="files" name="files" multiple accept="image/*">
                    <div id="imageContainer"></div>
                    <script>
                        const imageInput = document.getElementById('files');
                        const imageContainer = document.getElementById('imageContainer');
                        imageInput.addEventListener('change', handleImageSelection);
                        function handleImageSelection() {
                            imageContainer.innerHTML = ''; // Clear the previous images
                            const selectedImages = imageInput.files;
                            for (let i = 0; i < selectedImages.length; i++) {
                                const image = document.createElement('img');
                                image.src = URL.createObjectURL(selectedImages[i]);
                                image.classList.add('selected-image');
                                imageContainer.appendChild(image);
                            }
                        }
                    </script>
                </div>
                
                <button class="btn btn-primary" style="margin-top:20px;margin-left:15px;">Create</button>
                
                @if(ViewData["error"] != null)
                {
                    <span style="color: green;">@ViewData["error"]</span>
                }
                @if (ViewData["error1"] != null)
                {
                    <span style="color: red;">@ViewData["error1"]</span>
                }
            </form>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav>
                    <ul class="footer-menu">
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-center">
                        ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                </nav>
            </div>
        </footer>
    </div>
    </div>
    <!--   -->
    <!-- <div class="fixed-plugin">
        <div class="dropdown show-dropdown">
            <a href="#" data-toggle="dropdown">
                <i class="fa fa-cog fa-2x"> </i>
            </a>

            <ul class="dropdown-menu">
                <li class="header-title"> Sidebar Style</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger">
                        <p>Background Image</p>
                        <label class="switch">
                            <input type="checkbox" data-toggle="switch" checked="" data-on-color="primary" data-off-color="primary"><span class="toggle"></span>
                        </label>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger background-color">
                        <p>Filters</p>
                        <div class="pull-right">
                            <span class="badge filter badge-black" data-color="black"></span>
                            <span class="badge filter badge-azure" data-color="azure"></span>
                            <span class="badge filter badge-green" data-color="green"></span>
                            <span class="badge filter badge-orange" data-color="orange"></span>
                            <span class="badge filter badge-red" data-color="red"></span>
                            <span class="badge filter badge-purple active" data-color="purple"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="header-title">Sidebar Images</li>

                <li class="active">
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="../assets/img/sidebar-1.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="../assets/img/sidebar-3.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="..//assets/img/sidebar-4.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="../assets/img/sidebar-5.jpg" alt="" />
                    </a>
                </li>

                <li class="button-container">
                    <div class="">
                        <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard" target="_blank" class="btn btn-info btn-block btn-fill">Download, it's free!</a>
                    </div>
                </li>

                <li class="header-title pro-title text-center">Want more components?</li>

                <li class="button-container">
                    <div class="">
                        <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank" class="btn btn-warning btn-block btn-fill">Get The PRO Version!</a>
                    </div>
                </li>

                <li class="header-title" id="sharrreTitle">Thank you for sharing!</li>

                <li class="button-container">
                    <button id="twitter" class="btn btn-social btn-outline btn-twitter btn-round sharrre"><i class="fa fa-twitter"></i> · 256</button>
                    <button id="facebook" class="btn btn-social btn-outline btn-facebook btn-round sharrre"><i class="fa fa-facebook-square"></i> · 426</button>
                </li>
            </ul>
        </div>
    </div>
     -->
</body>
<!--   Core JS Files   -->
<script src="~/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="~/js/core/popper.min.js" type="text/javascript"></script>
<script src="~/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="~/js/plugins/bootstrap-switch.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--  Chartist Plugin  -->
<script src="~/js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="~/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="~/js/light-bootstrap-dashboard.js?v=2.0.0 " type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="~/js/demo.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

        demo.showNotification();

    });
</script>

</html>
